/*Глобальные правила*/
@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("/fonts/gilroyextrabold.woff2") format('woff2'),
    url("/fonts/gilroyextrabold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("/fonts/gilroylight.woff2") format('woff2'),
    url("/fonts/gilroylight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/fonts/opensanslight.woff2") format('woff2'),
    url("/fonts/opensanslight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format('woff2'),
    url("/fonts/opensans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Gilroy, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**конец голоюальных правил/
/*разметка index*/
/*разметка шапки*/
.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 299px;
  background-color: #f0c52e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
}

div.wrap-1 {
  display: flex;
  margin-top: 53px;
  align-items: baseline;
}

.wrap-1 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 950px;
  justify-content: flex-end;
}

.act button,
.catalog a {
  vertical-align: baseline;
  padding: 0;
  display: inline-block;
}

input.search {
  display: inline-block;
  margin-left: 99px;
  padding: 0px;
  vertical-align: baseline;
  padding-left: 30px;
  position: relative;
}

input.search {
  background-image: url(/img/search.svg);
  background-repeat: no-repeat;
  /*Убираем повтор изображения*/
  background-position: 4px;
  /*Позиционируем*/
  outline: none;
  /*убираем стандартную обводку браузера*/
  -moz-border-radius: 5px;
  /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px;
  /*закругляем углы для Chrome, Safari*/
  border-radius: 5px;
  /*закругляем углы для остальных браузеров*/
  padding-left: 20px;
  /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
  height: 20px;
  /*высота строки ввода*/
  font-size: 13px;
}

button.basket-header {
  margin-right: 61px;
  padding-left: 25px;
  position: relative;
}

button.basket-header::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: 12px;
  background-image: url(/img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

button.compare-header {
  margin-right: 65px;
  padding-left: 25px;
  position: relative;
}

button.compare-header::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 12px;
  background-image: url(/img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

button.enter-header {
  margin-right: 238px;
  padding-left: 25px;
  position: relative;
}

button.enter-header::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: 12px;
  background-image: url(/img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

div.wrap-2 {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-wrap: nowrap;
}

.wrap-2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 872px;
  justify-content: flex-end;
}

.wrap-2 li {
  padding: 0px;
  margin: 0px;
}

button.catalog {
  display: block;
  margin-left: 60px;
  min-width: 255px;
  vertical-align: middle;
  padding-right: 25px;
  position: relative;
}

button.catalog::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  right: 12px;
  background-image: url(/img/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

a.contact-header {
  margin-right: 60px;
}

a.guarantee-header {
  margin-right: 114px;
}

a.delivery-header {
  margin-right: 38px;
}

.logo-header {
  position: absolute;
  left: 60px;
  top: -19px;
}

.wrap-3 {
  margin-top: 92px;
  display: flex;
}

.wrap-3 img {
  width: 100px;
  height: 7px;
  background-color: white;
  margin-left: 600px;
}

/*конец разметки шапки*/
/*разметка слайдера*/
.slaider {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: space-between;
  min-height: 481px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  align-items: stretch;
}

.slaider img {
  position: relative;

  top: -110px;
}

.slaider-img {
  width: 50%;
  padding-left: 90px;
}

div.slaider-wrap {
  flex-direction: column;
  align-items: stretch;
  /*margin-left: 125px;*/
  width: 50%;
  padding-left: 20px;
}

.slaider h3 {
  color: white;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 179px;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  margin: 0px;
  min-width: 166px;
  min-height: 131px;
  vertical-align: baseline;
  margin-left: 335px;
  margin-top: -130px;
  display: block;
  margin-bottom: 0px;
}


.slaider h4 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  margin-top: -80px;
  margin-bottom: 0px;
}


.slaider p {
  color: #464646;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin-bottom: 0px;
  margin-top: 31px;
}

.slaider-a-div {
  margin-top: 62px;
  padding-left: 44px;
  padding-right: 43px;
}

.slaider-a-div a {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.slaider-ul1-div>ul {
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  padding: 0;
  margin-bottom: 0px;
}

.slaider-ul1-div li {
  color: #000000;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  margin-right: 81px;
}

.slaider-ul1-div li:nth-child(3) {
  margin-right: 0px;
}

.slaider-ul2-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 0px;
}

.slaider-ul2-div li {
  color: #464646;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  margin-right: 81px;
}

.slaider-ul2-div li:nth-child(3) {
  margin-right: 0px;
}

/*конец разметки слайдера*/
/*разметка гаджетов*/
.gadget {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: space-around;
  min-height: 422px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  align-items: flex-start;
}

.gadget ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.gadget li {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-right: 40px;
  min-width: 160px;
}



.gadget li:nth-child(6) {
  margin-right: 0px;
}

.gadget img {
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
  margin-bottom: 41px;
}

img.img-gadget1 {
  padding: 52px 32px 53px 31px;
}

img.img-gadget2 {
  padding: 41px 36px 2px 38px;
}

img.img-gadget3 {
  padding: 38px 40px 35px 49px;
}

img.img-gadget4 {
  padding: 50px 25px 45px 28px;
}

img.img-gadget5 {
  padding: 49px 30px 55px 32px;
}

img.img-gadget6 {
  padding: 49px 15px 42px 13px;
}

/*разметка гаджетов*/
/*разметка гарантия кредит доставка*/
.common {
  display: flex;
  width: 1445px;
  min-height: 288px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e5e5;
}

.common-div {
  display: flex;
  flex-direction: row;
  min-width: 422px;
  justify-content: space-between;
}

.common-div ul {
  margin: 0;
  padding: 0;
  margin-left: 145px;
  margin-top: -20px;
}

.common-div li {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  margin-bottom: 53px;
}

img.strip-common {
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.common-div button {
  width: 160px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 116px;
  min-width: auto;
}

.details-text {
  width: 440px;
  justify-content: space-between;
  /* padding-right: 132px;*/
  margin-right: 132px;
}

.details-text h3 {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 0;
  margin-top: -25px;
}

.details-text p {
  color: #464646;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin: 0;
  margin-top: 43px;
  width: 440px;
}

.details img {
  margin-top: -17px;
}

/*конец разметка гарантия кредит доставка*/
/*разметка производители*/
.manufacturers-div {
  display: flex;
  flex-direction: row;
  width: 1160px;
  min-height: 287px;
  margin-left: auto;
  margin-right: auto;
}

.manufacturers-div ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.manufacturers-div li {
  margin-top: 94px;
  margin-right: 60px;
}

.manufacturers-div li:nth-child(4) {
  margin-right: 0px;
}

.manufacturers-div img {
  width: 260px;
  height: 100px;
}

/* конец разметка производители*/
/*section о Нас + Контакты*/
.about {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-height: 648px;
  width: 1160px;
}

div.about1-div {
  position: relative;
  width: 462px;
  margin-right: 139px;
}

div.about2-div {
  width: 560px;
}

img.strip-about {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about h2 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 0px;
  margin-top: 51px;
}

.about p {
  color: #464646;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  margin-top: 59px;
}

p.p-about {
  margin-top: 47px;
}

.about li {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 16px;
  line-height: 40px;
  list-style-type: circle;
}

.about ul {
  margin: 0px;
  margin-top: 85px;
}

.about button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  /* width: 220px;
  height: 8px; //Как сделать желтую полосу не знаю
  background-color: #f0c52e;*/
}

img.map {
  margin-top: 44px;
}

.about1-div button {
  margin-top: 80px;
  margin-bottom: 93px;
}

.about2-div button {
  margin-top: 83px;
}

/* конец section о Нас + Контакты*/
/* начало подвал footer*/

.footer {
  background-color: #464646;
  display: flex;
  min-height: 323px;
  position: relative;
  flex-direction: row;
  width: 1440px;
  margin-left: auto;
  margin-right: auto
}

.footer1-div {
  display: flex;
  margin-top: 65px;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.footer1-div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1137px;
  justify-content: flex-end;
}

.footer1-div img {
  margin-left: 140px;
}

.footer1-div li {
  margin: 0px;
  padding: 0px;
}

.footer1-div button {
  margin: 0px;
  padding: 0px;
}

.footer1-div li:nth-child(3) {
  margin-right: 140px;
}

.footer1-div li:nth-child(2) {
  margin-right: 41px;
}

.footer1-div li:nth-child(1) {
  margin-right: 44px;
}

.footer2-div {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 42px;
  align-items: center;
}

.footer2-div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 780px;
  justify-content: flex-end;
}

.footer2-div li:nth-child(3) {
  margin-right: 206px;
}

.footer2-div li:nth-child(2) {
  margin-right: 38px;
}

.footer2-div li:nth-child(1) {
  margin-right: 38px;
}

.city-div p,
.phone-div a {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.city-div {
  margin-left: 140px;
}

.phone-div {
  margin-right: 140px;
}

.footer3-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 65px;
  align-items: center;
}

img.strip-footer {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-left: 140px;
}

.footer3-div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1440px;
  justify-content: flex-start;
}

.footer3-div li:nth-child(2) {
  margin-left: 429px;
}

.footer3-div li:nth-child(3) {
  margin-left: 23px;
}

.footer3-div li:nth-child(4) {
  margin-left: 22px;
}

.footer3-div li:nth-child(5) {
  margin-left: 483px;
}

img.logo:hover,
img.logo:focus {
  opacity: 0.6;
}

img.logo:active {
  opacity: 0.3;
}

.adress a {
  color: #ffffff;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.adress p {
  margin: 0;
}

.act-footer button {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  border: none;
  background-color: transparent;
}

.features-footer a {
  color: #ffffff;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.act-footer button:hover,
.act-footer button:focus {
  border: none;
  outline: none;
  opacity: 1;
  background-color: transparent;
}

.act-footer button:active {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

.features-footer a:hover,
.features-footer a:focus,
img.html-logo:hover,
img.html-logo:focus {
  opacity: 0.6;
}

.features-footer a:active,
img.html-logo:active {
  opacity: 0.3;
}

.socialnetwork img {
  opacity: 0.7;
}

.socialnetwork img:hover,
.socialnetwork img:focus {
  opacity: 1;
}

.socialnetwork img:active {
  opacity: 0.1;
}

/*конец подвала*/
/*попап начало*/

/*конец попап*/
/*конец разметки index*/
/*index.html*/
/*Шапка*/

img.logo-header:hover,
img.logo-header:focus {
  opacity: 0.6;
}

img.logo-header:active {
  opacity: 0.3;
}

input.search {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  background-color: transparent;
}

input.search:hover {
  opacity: 0.6;
}

input.search:focus {
  opacity: 1;
}

ul.act {
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.act button {
  border: none;
  background-color: transparent;
}

.catalog,
button.catalog {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 60px;
  padding: 0px;
}

ul.catalog-item {
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.act button:hover,
.act button:focus,
.catalog :hover,
.catalog :focus,
.catalog-item li:hover,
.catalog-item li:focus,
button.catalog:hover,
button.catalog:focus {
  opacity: 0.6;
  border: none;
  outline: none;
  background-color: transparent;
}

.act button:active,
.catalog :active,
.catalog-item li:active,
button.catalog:active {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

/*main сейчас пропускаю часть блоков*/


/*catalog.html*/
/*button.exit {
  opacity: 0.3;
}

/*main catalog.html тут тоже не все*/
/*h1.monopod {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

div.adress-catalog {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.adress-catalog span {
  margin: 18px;
  color: black;
  /*тут не получилось сделать черным >, не знаю почему*/
/*}

. .filter p {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter label {
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  border: none;
  outline: none;
}

.about h2 {
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.about p {
  color: #464646;
  font-family: "Open Sans", Georgia, Serif;
  ;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.about ul {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 16px;
  line-height: 40px;
  margin-top: 38px;
}

.about button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  margin-top: 76px;
}*/
