/*Глобальные правила*/
@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
    url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2") format('woff2'),
    url("../fonts/opensanslight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format('woff2'),
    url("../fonts/opensans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Gilroy", Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**конец голоюальных правил/
/*разметка index*/
/*разметка шапки*/
.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 299px;
  background-color: #f7e296;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
}

div.wrap-1 {
  display: flex;
  margin-top: 43px;
  align-items: baseline;
  justify-content: space-between;
}

.wrap-1 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 660px;
  justify-content: flex-end;
}

.act button,
.catalog a {
  vertical-align: baseline;
  padding: 0;
  display: inline-block;
}

button.basket-header {
  margin-right: 59px;
  padding-left: 25px;
  position: relative;
}

button.basket-header::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 4px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

button.compare-header {
  margin-right: 37px;
  padding-left: 25px;
  position: relative;
}

button.compare-header::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 6px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

button.enter-header {
  margin-right: 211px;
  padding-left: 25px;
  position: relative;
}

button.enter-header::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: -1px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

img.logo-header:hover,
img.logo-header:focus {
  opacity: 0.6;
}

img.logo-header:active {
  opacity: 0.3;
}

/*интерактивный поиск*/
.search-div {
  margin-left: 58px;
  width: 460px;
  vertical-align: middle
}

.search-div input[type="search"] {
  width: 356px;
}

.search-div input[type="submit"] {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  padding: 0px;
  background-color: transparent;
  vertical-align: bottom;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  display: none;
  top: 21px;
  border-bottom: 1px solid #000000;
  position: absolute;
}

.search-div input[type="submit"]:hover,
.search-div input[type="submit"]:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-div input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3)
}


input.search {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1.15px;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 25px;
  position: relative;
}

input.search {
  background-image: url("/img/search.svg");
  background-repeat: no-repeat;
  /*Убираем повтор изображения*/
  background-position: 4px;
  /*Позиционируем*/
  outline: none;
  /*убираем стандартную обводку браузера*/
  -moz-border-radius: 5px;
  /*закругляем углы для Mozilla*/
  -webkit-border-radius: 5px;
  /*закругляем углы для Chrome, Safari*/
  border-radius: 5px;
  /*закругляем углы для остальных браузеров*/
  padding-left: 40px;
  /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
  height: 20px;
  /*высота строки ввода*/
  font-size: 13px;
  /*размер шрифта*/
}

input.search:hover {
  opacity: 0.6;
}

input.search:focus {
  opacity: 1;
  border-bottom: 1px solid #000000;
}

.input-search>input.search:focus+input.search-div-submit,
.input-search:active>input.search-div-submit {
  display: inline-block;
}

/*конец поиск*/
ul.act {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.act button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog,
.catalog-button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 60px;
  padding: 0px;
}

.act button:hover,
.act button:focus,
.catalog li :hover,
.catalog li :focus,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-button:hover,
.catalog-button:focus {
  opacity: 0.6;
  border: none;
  outline: none;
  background-color: transparent;
}

.act button:active,
.catalog li :active,
.catalog-item a:active,
.catalog-button:active {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

div.wrap-2 {
  display: flex;
  margin-top: 40px;
  align-items: center;
  flex-wrap: nowrap;
}

ul.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.wrap-2 li {
  padding: 0px;
  margin: 0px;
}


/*выпадающий список*/
.catalog-wrap {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  position: absolute;
  width: 1160px;
  min-height: 130px;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  top: 161px;
  background-color: #f7e296;
  z-index: 30;
  padding-left: 17px;
}

.catalog-item {
  display: flex;
}

.catalog-menu {
  display: flex;
  margin-top: 59px;
}

.catalog-wrap-a:hover div.catalog-wrap {
  display: flex;
}

.catalog-button {
  position: relative;
  margin-left: 59px;
  vertical-align: middle;
  padding-right: 25px;
}

.catalog-button::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 2px;
  right: -3px;
}

.catalog-item-div2 {
  margin-left: 58px;
}

.catalog-item-div3 {
  margin-left: 77px;
}

/*выпадающий список конец*/

a.contact-header {
  margin-left: 108px;
}

a.guarantee-header {
  margin-left: 34px;
}

a.delivery-header {
  margin-left: 297px;
}

.logo-header {
  position: absolute;
  left: 60px;
  top: -19px;
}

.wrap-3 {
  margin-top: 87px;
  display: flex;
}

.wrap-3 img {
  width: 100px;
  height: 7px;
  background-color: white;
  margin-left: 600px;
  border: none;

}

/*конец разметки шапки*/
/*разметка слайдера*/
.slaider,
.slaider2,
.slaider3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: space-between;
  min-height: 481px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  align-items: stretch;
}

.slaider-off {
  display: none;
}

.slaider img {
  position: relative;
  top: -110px;
  left: 90px;
  width: 384px;
  height: 486px;
}

.slaider2 img {
  position: relative;
  top: -100px;
  left: 116px;
  width: 345px;
  height: 485px;
}

.slaider3 img {
  position: relative;
  top: -46px;
  left: 31px;
  width: 526px;
  height: 334px;
}

.slaider-img,
.slaider-img2,
.slaider-img3 {
  width: 599px;
}


.slaider-wrap {
  flex-direction: column;
  align-items: stretch;
}

.slaider h3 {
  color: white;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  margin: 0px;
  min-width: 166px;
  min-height: 131px;
  vertical-align: baseline;
  margin-left: 330px;
  margin-top: -125px;
  display: block;
  margin-bottom: 0px;
}

.slaider2 h3 {
  color: white;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  margin: 0px;
  min-width: 166px;
  min-height: 131px;
  vertical-align: baseline;
  display: block;
  margin-left: 308px;
  margin-top: -123px;
}

.slaider3 h3 {
  color: white;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  margin: 0px;
  min-width: 166px;
  min-height: 131px;
  vertical-align: baseline;
  display: block;
  margin-left: 308px;
  margin-top: -123px;
}

.slaider h4 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.55px;
  margin-top: -86px;
  margin-bottom: 0px;
}

.slaider2 h4 {
  width: 258px;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  margin-top: -85px;
  margin-bottom: 0px;
}

.slaider3 h4 {
  width: 258px;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  margin-top: -85px;
  margin-bottom: 0px;
  width: 502px;
}

.slaider p,
.slaider2 p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.1px;
  margin-bottom: 0px;
  margin-top: 21px;
  margin-left: -3px;
}

.slaider3 p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  ;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin-bottom: 0px;
  margin-top: 31px;
  width: 480px;
  /*какая то фигня с размерами на макете*/
  min-height: 46px;
}

.slaider-a-div {
  margin-top: 52px;
  padding-left: 44px;
  padding-right: 43px;
  position: relative;
  cursor: pointer;
}

.slaider-a-div a {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.85px;
  position: relative;
  width: 220px;
  height: 8px;
  margin-left: -3px;

}

.slaider-content {
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
  left: 0px;
  top: 7px;
  z-index: -1;
  transition: 0.3s;
}


.slaider-a-div a:hover+.slaider-content,
.slaider-a-div a:hover+.slaider-content {
  height: 40px;
  top: -10px;
}

.slaider-a-div a:active {
  opacity: 0.3;
}

.slaider-ul1-div>ul {
  display: flex;
  flex-direction: row;
  margin-top: 57px;
  padding: 0;
  margin-bottom: 0px;
  margin-left: 2px;
}

.slaider-ul1-div li {
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  margin-right: 81px;
  margin-left: -3px;
}

.slaider-ul1-div li:nth-child(3) {
  margin-right: 0px;
}

.slaider3-ul1-div>ul {
  display: flex;
  flex-direction: row;
  margin-top: 71px;
  padding: 0;
  margin-bottom: 0px;
}

.slaider3-ul1-div li {
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  margin-right: 64px;
}

.slaider3-ul1-div li:nth-child(2) {
  margin-right: 0px;
}

.slaider-ul2-div {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
  padding: 0;
  margin-bottom: 0px;
}

.slaider-ul2-div li {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.3px;
  margin-right: 81px;
}

.slaider-ul2-div li:nth-child(3) {
  margin-right: 0px;
}

.slaider3-ul2-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 0px;
}

.slaider3-ul2-div li {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  margin-right: 47px;
}

.slaider3-ul2-div li:nth-child(2) {
  margin-right: 0px;
}

/*конец разметки слайдера*/
/*разметка гаджетов*/
.gadget {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: space-around;
  min-height: 419px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  align-items: flex-start;
  margin-top: -8px;
}

.gadget ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.gadget li {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-right: 40px;
  min-width: 160px;
}



.gadget li:nth-child(6) {
  margin-right: 0px;
}

.gadget img {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  margin-bottom: 27px;
}

.gadget a {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.gadget img:hover,
.gadget img:active {
  background-color: #f0c52e;
  transition: 0.3s;
}

.gadget li:active {
  opacity: 0.3;
}

img.img-gadget1 {
  padding: 52px 32px 53px 31px;
}

img.img-gadget2 {
  padding: 41px 36px 2px 38px;
}

img.img-gadget3 {
  padding: 38px 40px 35px 49px;
}

img.img-gadget4 {
  padding: 50px 25px 45px 28px;
}

img.img-gadget5 {
  padding: 32px 49px 30px 55px;
}

img.img-gadget6 {
  padding: 49px 15px 42px 13px;
}

/*разметка гаджетов*/
/*разметка гарантия кредит доставка*/
.common {
  display: flex;
  width: 1445px;
  min-height: 288px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e5e5;
}

.common-div {
  display: flex;
  flex-direction: row;
  min-width: 422px;
  justify-content: space-between;
  position: relative;
}

.common-div ul {
  margin: 0;
  padding: 0;
  margin-left: 142px;
  margin-top: -9px;
  z-index: 2;
}

.common-div li {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  margin-bottom: 53px;
  position: relative;
}

.common-div li:nth-child(1) {
  margin-bottom: 40px;
}

.common-div li:nth-child(2) {
  margin-bottom: 43px;
}

img.strip-common {
  width: 10px;
  height: 322px;
  background-color: #000000;
  position: absolute;
  top: -103px;
  left: 416px;
}

.common-div button {
  width: 160px;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.9px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.common-div-content {
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  top: 7px;
  z-index: -1;
  outline: none;
  transition: 0.3s;
}



.common-div button:hover+.common-div-content {
  height: 40px;
  top: -8px;
}

.common-div button:active+.common-div-content {
  width: 278px;
  height: 40px;
  background-color: #000000;
  top: -8px;
  outline: none;
}

.common-div button:active {
  color: #f7e184;
  outline: none;
  border: none;
}

.common-div-content.focus {
  width: 278px;
  height: 40px;
  background-color: #000000;
  top: -8px;
  outline: none;
}

button.focus {
  color: #f7e184;
  outline: none;
  border: none;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 119px;
  min-width: auto;
  width: 1016px;
}

.details-text1,
.details-text2,
.details-text3 {
  display: flex;
  position: relative;
}

.details-off {
  display: none;
}

.details-text1 h3,
.details-text2 h3,
.details-text3 h3 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.21px;
  margin: 0;
  margin-top: -25px;
}

.details-text1 p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.05px;
  margin: 0;
  margin-top: 32px;
  width: 440px;
}

.details-text2 p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin: 0;
  margin-top: 43px;
  width: 436px;
}

.details-text3 p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin: 0;
  margin-top: 43px;
  width: 445px;
}

.details-text1 img {
  margin-left: 119px;
  position: absolute;
  top: -14px;
}
}

.details-text2 img {
  margin-left: 107px;
  position: absolute;
  top: -33px;
}

.details-text3 img {
  margin-left: 110px;
  position: absolute;
  top: -40px;
}

/*конец разметка гарантия кредит доставка*/
/*разметка производители*/
.manufacturers-div {
  display: flex;
  flex-direction: row;
  width: 1160px;
  min-height: 282px;
  margin-left: auto;
  margin-right: auto;
}

.manufacturers-div ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.manufacturers-div li {
  margin-top: 96px;
  margin-right: 39px;
}

.manufacturers-div li:nth-child(4) {
  margin-right: 0px;
}

.manufacturers-div img {
  width: 260px;
  height: 100px;
}

.logo:hover {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 260px;
  height: 100px;
  padding-right: 260px;
}

.logo1:hover {
  background: url(../img/logo-1-1.jpg);
}

.logo2:hover {
  background: url(../img/logo-2-2.jpg);
}

.logo3:hover {
  background: url(../img/logo-3-3.jpg);
}

.logo4:hover {
  background: url(../img/logo-4-4.jpg);
}

/* конец разметка производители*/
/*section о Нас + Контакты*/
.about {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  height: 662px;
  width: 1160px;
}

.about1-div {
  position: relative;
  width: 462px;
  margin-right: 138px;
}

.about2-div {
  width: 560px;
}

.strip-about {
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about h2 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 0px;
  margin-top: 41px;
  margin-left: -1px;
}

.about p {
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  margin-top: 43px;
  margin-left: -2px;
  letter-spacing: -0.2px;
}

p.p-about {
  margin-top: 30px;
  letter-spacing: -0.5px;
}

.about li {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  list-style-type: none;
  padding-left: 25px;
  position: relative;
}

.about li::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 16px;
  left: -9px;
  background-image: url(../img/slider-button.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about ul {
  margin: 0px;
  margin-top: 67px;
  margin-left: -30px;
}

.about button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  /* width: 220px;
  height: 8px; //Как сделать желтую полосу не знаю
  background-color: #f0c52e;*/
}

img.map {
  margin-top: 38px;
}

.about1-div button {
  margin-top: 63px;
  margin-left: 16px;
  border: none;
  background-color: transparent;
}

.about1-div section {
  min-height: 720px;
}

.about2-div button {
  margin-top: 74px;
  margin-left: 34px;
  border: none;
  background-color: transparent;
}

.about1-div div,
.about2-div div {
  position: relative;
}

.about-content {
  position: absolute;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  top: -17px;
  z-index: -1;
  transition: 0.3s;
}

.about1-div button:hover+.about-content,
.about1-div button:focus+.about-content,
.about1-div button:active+.about-content,
.about2-div button:hover+.about-content,
.about2-div button:focus+.about-content,
.about2-div button:active+.about-content {
  height: 40px;
  top: -34px;
}

.about1-div button:active,
.about2-div button:active {
  opacity: 0.3;
  outline: none;

}

/* конец section о Нас + Контакты*/
/* начало подвал footer*/

.footer {
  background-color: #464646;
  display: flex;
  min-height: 323px;
  position: relative;
  flex-direction: row;
  width: 1440px;
  margin-left: auto;
  margin-right: auto
}

.footer1-div {
  display: flex;
  margin-top: 55px;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.footer1-div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1137px;
  justify-content: flex-end;
}

.footer1-div-img {
  margin-left: 100px;
  margin-top: 12px;
}

.footer1-div-img:hover,
.footer1-div-img:focus {
  opacity: 0.6;
}

.footer1-div-img:active {
  opacity: 0.3;
}

.footer1-div li {
  margin: 0px;
  padding: 0px;
  opacity: 0.7;
}

.footer1-div button {
  margin: 0px;
  padding: 0px;
}

.footer1-div li:nth-child(3) {
  margin-right: 138px;
  position: relative;
}

.footer1-div li:nth-child(2) {
  margin-right: 60px;
  position: relative;
}

.footer1-div li:nth-child(1) {
  margin-right: 62px;
  position: relative;
}

.footer1-div li:nth-child(1)::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: -25px;
  background-image: url(../img/user_n.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer1-div li:nth-child(2)::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  left: -20px;
  background-image: url(../img/compare_n.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer1-div li:nth-child(3)::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: -20px;
  background-image: url(../img/cart_n.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer2-div {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 25px;
  align-items: center;
}

.footer2-div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 594px;
  justify-content: flex-end;
  margin-top: 8px;
}

.footer2-div li:nth-child(3) {
  margin-right: -1px;
}

.footer2-div li:nth-child(2) {
  margin-right: 33px;
}

.footer2-div li:nth-child(1) {
  margin-right: 36px;
}

.city-div p,
.phone-div a {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.7px;
}

.city-div {
  margin-left: 97px;
}

.phone-div {
  margin-left: 201px;
  margin-top: -2px;
}

.footer3-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 61px;
  align-items: center;
}

img.strip-footer {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-left: 98px;
}

.footer3-div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1440px;
  justify-content: flex-start;
  align-items: center;
}

.footer3-div li:nth-child(2) {
  margin-left: 429px;
}

.footer3-div li:nth-child(3) {
  margin-left: 23px;
}

.footer3-div li:nth-child(4) {
  margin-left: 22px;
}

.footer3-div li:nth-child(5) {
  margin-left: 483px;
}

img.logo:hover,
img.logo:focus {
  opacity: 0.6;
}

img.logo:active {
  opacity: 0.3;
}

.adress a {
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.adress p {
  margin: 0;
}

.act-footer button {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  background-color: transparent;
}

.features-footer a {
  color: #ffffff;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.act-footer li:hover,
.act-footer li:focus {
  border: none;
  outline: none;
  opacity: 1;
  background-color: transparent;
}

.act-footer li:active {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

.features-footer a:hover,
.features-footer a:focus,
img.html-logo:hover,
img.html-logo:focus {
  opacity: 0.6;
}

.features-footer a:active,
img.html-logo:active {
  opacity: 0.3;
}

.socialnetwork img {
  opacity: 0.7;
}

.socialnetwork img:hover,
.socialnetwork img:focus {
  opacity: 1;
}

.socialnetwork img:active {
  opacity: 0.1;
}

/*конец подвала*/
/*модальное окно*/
.popup-close img {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.popup-close img:hover {
  opacity: 1;
}

.popup-close img:active {
  opacity: 0.3;
}

.popup-person input:hover,
.popup-letter textarea:hover {
  opacity: 0.8;
}

.popup-person input:focus,
.popup-letter textarea:focus {
  border: 3px solid #f0c52e;
  background-color: #ffffff;
  opacity: 1;
}

.popup {
  display: flex;
  width: 960px;
  height: 553px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding-left: 100px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);

}

.popup-close {
  display: flex;
  margin-top: 22px;
  margin-right: 22px;
  justify-content: flex-end;
}

.popup-close button {
  padding: 0;
  border: none;
  background-color: transparent;
  height: 55px;
  outline: none;
}

.popup-person {
  display: flex;
  margin-top: 21px;
  padding-right: 100px;
  /*flex-wrap: wrap;*/
}

.popup-person input {
  width: 360px;
  height: 50px;
  opacity: 0.5;
  margin-right: 40px;
  margin-top: 13px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 20px;
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.popup-person input::placeholder {
  padding-left: 0px;
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.popup-person input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}

.popup-person label,
.popup-letter label {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.popup-letter {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  padding-right: 100px;
  align-items: flex-start;
}

.popup-letter textarea {
  width: 760px;
  height: 156px;
  opacity: 0.5;
  margin-right: 40px;
  margin-top: 13px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 20px;
}

.popup-letter textarea::placeholder {
  padding-left: 0px;
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.popup-letter button {
  margin-top: 55px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  border: none;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  background-color: transparent;
  margin-left: 34px;
  position: relative;
}

.popup-letter div {
  position: relative;
}

.content-popup {
  position: absolute;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
  top: -16px;
  transition: 0.3s;
}

.popup-letter button:hover+.content-popup,
.popup-letter button:active+.content-popup {
  height: 40px;
  top: -32px;
}

.popup-letter button:active {
  opacity: 0.3;
}

/*попап разметка карты*/
.map-popup {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 992px;
  height: 591px;
}

.map-popup button {
  top: 22px;
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  height: 55px;
  z-index: 2;
  left: 883px;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}

.map-popup button:hover {
  opacity: 1;
}

.map-popup button:active {
  opacity: 0.3;
}

/*конец попап разметка карты*/
/*разметка попапа*/
/*/модальное окно*/
/*добавления хедера каталог*/
.footer-nav {
  min-height: 186px;
}

button.footer-compare {
  /*не трогать баттон полетит разметка*/
  margin-right: 36px;
}

.exit {
  margin-right: 57px;
  opacity: 0.3;
}

button.enter-header-catalog {
  /*не трогать батон)*/
  margin-right: 19px;
  padding-left: 30px;
  position: relative;
}

.enter-header-catalog::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 8px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*конец хедера каталог*/
/*Хлебные крошки*/

.breadcrumb {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 61px;
  margin-top: 36px;
  flex-wrap: wrap;
}

.breadcrumb h1 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.7px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  width: 1160px;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 61px;
  flex-wrap: wrap;
}

.breadcrumbs ul {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.3px;
  padding-left: 0;
  display: flex;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  right: -21px;
  top: 8px;
  background-image: url(../img/catalog/galka.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after,
.breadcrumbs li:last-child::after {
  display: none;
}

.disabled-a {
  pointer-events: none;
  cursor: default;
}

.breadcrumbs li a:hover {
  opacity: 0.6;
}

.breadcrumbs li a:active {
  opacity: 0.1;
}

/*конец Хлебные крошки*/
/*глобальная разметка*/
.global {
  display: flex;
  width: 1440px;
  flex-direction: row;
  min-height: 1286px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

/*конец глобальная разметка*/
/*Разметка фильтр*/

.wrap-filter {
  width: 469px;
  min-height: 1287px;
  display: flex;
  flex-direction: column;
}

.wrap-filter h2 {
  vertical-align: middle;
  min-height: 70px;
  margin: 0;
  background-color: #dcdcdc;
  padding-left: 202px;
  padding-top: 25px;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.91px;
}

.cost {
  padding-left: 199px;
  background-color: #eeeeee;
}

img.strip-cost-1 {
  width: 201px;
  height: 2px;
  background-color: #000000;
  margin-top: 69px;
}

.cost h3 {
  margin-top: 7px;
  margin-bottom: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.strip-cost-2 {
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.color {
  min-heigt: 975px;
  background-color: #eeeeee;
  display: inline-block;
  flex-direction: column;
  padding-left: 199px;
  min-height: 1004px;
}

.color ul {
  padding: 0;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.3px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.color label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -38px;
  bottom: 9px;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -38px;
  bottom: 9px;
}

.filter-input-checkbox:checked+label::after:hover,
.filter-input-checkbox+label::before:hover {
  background-color: #f0c52e;
}


.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -39px;
  bottom: 7px;
}

.strip-cost-3 {
  width: 201px;
  height: 2px;
  background-color: #000000;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -39px;
  bottom: 8px;
}

.color h3 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-top: 7px;
  margin-bottom: 18px;
}

.color button {
  margin-top: 42px;
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.15px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.wrap-button {
  position: relative;
}

.strip-button-filter {
  position: absolute;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  top: 47px;
  left: -40px;
  transition: 0.3s;
}

.color button:hover+.strip-button-filter,
.color button:focus+.strip-button-filter,
.color button:active+.strip-button-filter {
  height: 40px;
  background-color: #f0c52e;
  top: 30px;
}

.color button:active {
  opacity: 0.3;
}

/*конец Разметка фильтр*/
/*разметка ползунка*/
.min-price,
.max-price {
  opacity: 0.2;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.range-filter {
  width: 201px;
  margin-top: 34px;
}

.range-controls {
  margin-bottom: 10px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.range-controls .toggle {
  width: 20px;
  height: 22px;
  background-image: url(../img/catalog/filter-button.png);
  cursor: pointer;
  position: absolute;
  top: -10px;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls label {
  display: inline-block;
  width: 45%;
}

.price-controls {
  font-size: 0;
  margin-bottom: 21px;
}

.price-controls input {
  width: 46px;
  padding: 0;
  border: none;
}

/*конец разметки ползунка*/
/*разметка сортирвка*/
.sort {
  display: flex;
  flex-direction: row;
  width: 972px;
  min-height: 70px;
  background-color: #ebebeb;
  align-items: center;
}

.sort ul {
  display: flex;
  padding: 0;
  align-items: center;
}

.sort input {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

input.selected,
li.selected {
  opacity: 1;
}

.sort input:hover,
.sort input:focus {
  opacity: 0.6;
}

.sort input:active {
  opacity: 1;
}

.sort h2 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.91px;
  margin: 0;
  margin-left: 72px;
}

.sort li:nth-child(1) {
  margin-left: 42px;
}

.sort li:nth-child(2) {
  margin-left: 16px;
}

.sort li:nth-child(3) {
  margin-left: 20px;
}

.sort li:nth-child(4) {
  margin-left: 225px;
  background-image: url(/img/catalog/icon-up-dir.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.sort li:nth-child(5) {
  margin-left: 19px;
  background-image: url(/img/catalog/icon-down-dir.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.sort li:nth-child(4):hover,
.sort li:nth-child(5):hover,
.sort li:nth-child(4):focus,
.sort li:nth-child(5):focus {
  opacity: 0.4;
}

.sort li:nth-child(4):active,
.sort li:nth-child(5):active {
  opacity: 1;
}

input.selected,
li.selected {
  opacity: 1;
}

/*конец разметка сортировка*/
/*разметка палок*/
.selfi {
  width: 830px;
  min-height: 1070px;
  padding-top: 69px;
  padding-left: 72px;
  position: relative;
}

.selfi ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

/*.selfi li:nth-child(1),*/
.selfi li:nth-child(2n+1) {
  margin-right: 38px;
}

.selfi li:nth-child(1),
.selfi li:nth-child(2n) {
  margin-bottom: 44px;
}

.selfi a {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.selfi p {
  color: #464646;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: 1px;
}

a.selfi1 {
  width: 247px;
}

a.selfi2 {
  width: 173px;
}

a.selfi3 {
  width: 256px;
}

a.selfi4 {
  width: 225px;
}

.selfi img {
  position: relative;
  width: 360px;
  height: 380px;
}


.new {
  position: absolute;
  z-index: 2;
  background-image: url(../img/catalog/new.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 61px;
  top: 29px;
  right: 25px;
}

.selfi-wrap {
  position: relative;
}

/*разметка кнопок*/
.in-basket {
  position: absolute;
  top: 184px;
  left: 116px;
  display: none;
}

.in-basket button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  z-index: 2;
}

.in-basket-strip {
  position: absolute;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  left: -36px;
  top: 8px;
  transition: 0.3s;
}

.in-basket button:hover+.in-basket-strip,
.in-basket button:hover+.in-basket-strip {
  height: 40px;
  top: -10px;
}

.in-basket button:active {
  opacity: 0.3;
}

.to-compare {
  position: absolute;
  top: 229px;
  left: 108px;
  display: none;
}

.to-compare button {
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.13px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: none
}

.to-compare button:hover,
.to-compare button:focus {
  opacity: 1;
}

.to-compare button:focus {
  opacity: 0.2;
}

.wrapper-selfi {
  position: relative;
}

.wrapper-selfi:hover img {
  opacity: 0.7;
}

.wrapper-selfi:hover .in-basket {
  display: block;
}

.wrapper-selfi:hover .to-compare {
  display: block;
}

/*конец разметок кнопок*/
/*конец разметка палок*/
/*разметка страниц*/

.pages {
  display: flex;
  height: 70px;
  background-color: #ebebeb;
  width: 760px;
  margin-left: 74px;
  align-items: center;
  margin-bottom: 77px;
  margin-top: -12px;
}

.pages ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.pages input {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.91px;

}

.pages li input {
  border: none;
  background-color: transparent;
  outline: none;
}

.pages li:nth-child(1) input,
.pages li:nth-child(5) input {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 18px;
  outline: none;
}

.pages li:nth-child(1) input:hover,
.pages li:nth-child(1) input:focus,
.pages li:nth-child(1) input:active,
.pages li:nth-child(5) input:hover,
.pages li:nth-child(5) input:focus,
.pages li:nth-child(5) input:active {
  background-color: #d8d8d8;
}

.pages li:nth-child(1) input:active,
.pages li:nth-child(5) input:active {
  color: rgba(0, 0, 0, 0.3)
}

.pages li:nth-child(2) input:hover,
.pages li:nth-child(2) input:focus,
.pages li:nth-child(3) input:hover,
.pages li:nth-child(3) input:focus,
.pages li:nth-child(4) input:hover,
.pages li:nth-child(4) input:focus {
  opacity: 0.3;
}

.pages li:nth-child(2) input:active,
.pages li:nth-child(3) input:active,
.pages li:nth-child(4) input:active {
  opacity: 1;
}

.pages li:nth-child(2) {
  margin-left: 203px;
  margin-top: 26px;
}

.pages li:nth-child(3) {
  margin-left: 15px;
  margin-top: 26px;
}

.pages li:nth-child(4) {
  margin-left: 18px;
  margin-top: 26px;
}

.pages li:nth-child(5) {
  margin-left: 194px;
}

.disable {
  opacity: 0.3;
}

/*конец  разметка страниц"*/
/*разметка подвала каталога*/
.footer1-div-catalog {
  display: flex;
  margin-top: 54px;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.footer1-div-catalog ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1137px;
  justify-content: flex-end;
}

.footer1-div-catalog img {
  margin-left: 140px;
}

.footer1-div-catalog li {
  margin: 0px;
  padding: 0px;
}

.footer1-div-catalog button {
  margin: 0px;
  padding: 0px;
}

.footer1-div-catalog li:nth-child(4) {
  margin-right: 136px;
  padding-left: 25px;
  position: relative;
}


.footer1-div-catalog li:nth-child(4)::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 11px;
  left: 4px;
  background-image: url(../img/catalog/cart.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer1-div-catalog li:nth-child(3) {
  margin-right: 36px;
  padding-left: 25px;
  position: relative;
}

.footer1-div-catalog li:nth-child(3)::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 13px;
  left: 7px;
  background-image: url(../img/catalog/compare.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer1-div-catalog li:nth-child(2) {
  margin-right: 36px;
  opacity: 0.3;
}

.footer1-div-catalog li:nth-child(1) {
  margin-right: 16px;
  padding-left: 25px;
  position: relative;
}

.footer1-div-catalog li:nth-child(1)::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  left: 3px;
  background-image: url(../img/catalog/user.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer1-div-catalog li {
  opacity: 0.7;
}

.footer1-div-catalog li:hover {
  opacity: 1;
}

.footer1-div-catalog li:active {
  opacity: 0.3;
}

.footer2-div-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 23px;
  align-items: center;
}

.city-div-catalog {
  margin-left: 139px;
}

.city-div-catalog p,
.phone-div-catalog a {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.7px;
}

.footer2-div-catalog ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 594px;
  justify-content: flex-end;
  margin-top: 8px;
}

.footer2-div-catalog li:nth-child(1) {
  margin-right: 36px;
}

.footer2-div-catalog li:nth-child(2) {
  margin-right: 33px;
}

.footer2-div-catalog li:nth-child(3) {
  margin-right: -1px;
}

.phone-div-catalog {
  margin-left: 201px;
  margin-top: -2px;
}

.footer3-div-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  margin-top: 61px;
  align-items: center;
}

img.strip-footer-catalog {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-left: 141px;
}

.footer3-div-catalog ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1440px;
  justify-content: flex-start;
  align-items: center;
}

.footer3-div-catalog li:nth-child(2) {
  margin-left: 429px;
}

.footer3-div-catalog li:nth-child(3) {
  margin-left: 23px;
}

.footer3-div-catalog li:nth-child(4) {
  margin-left: 22px;
}

.footer3-div-catalog li:nth-child(5) {
  margin-left: 483px;
}

/*конец разметки подвала*/
