/*Глобальные правила*/
@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("/fonts/Gilroyextrabold.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroylight.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/**конец голоюальных правил/
/*разметка index*/
/*разметка шапки*/
.navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 299px;
  background-color: #f0c52e;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
  position: relative;
}

div.wrap-1 {
  display: flex;
  margin-top: 35px;
  align-items: center;
}

div.search-div {
  margin-left: 63px;
}

div.act {
  display: flex;
  flex-direction: row;
}

div.basket-div {
  position: absolute;
  right: 61px;
}

div.compare-div {
  position: absolute;
  right: 184px;
}

div.enter-div {
  position: absolute;
  right: 491px;
}

img.logo-header {
  position: relative;
  top: -19px;
  left: 60px;
}

div.wrap-2 {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

div.contact-div {
  position: absolute;
  right: 61px;
}

div.guarantee-div {
  position: absolute;
  right: 292px;
}

div.delivery-div {
  position: absolute;
  right: 439px;
}

/*конец разметки шапки*/
/*разметка сеции о нас и контакты*/
div.about {
  display: flex;
  margin-right: 140px;
  margin-left: 140px;
  min-height: 710px;
}

div.about1-div {
  position: relative;
  width: 462px;
  margin-right: 139px;
}

div.about2-div {
  width: 560px;
}

/*конецразметка сеции о нас и контакты*/
/*разметка подвала*/
div.footer1-div {
  display: flex;
  flex-direction: column;
  width: 1440px;
}

div.footer-conteiner1 {
  display: flex;
  margin-top: 65px;
  flex-direction: row;
  justify-content: baseline;
  width: 100%;
  min-height: 35px;
}

div.footer-conteiner2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  min-height: 15px;
}

div.footer-conteiner3 {
  display: flex;
  justify-content: baseline;
  margin-top: 69px;
  flex-direction: row;
}

div.logo-footer {
  position: absolute;
  left: 140px;
}

div.basket-footer-div {
  position: absolute;
  right: 140px;
}

div.compare-footer-div {
  position: absolute;
  right: 263px;
}

div.enter-footer-div {
  position: absolute;
  right: 396px;
}

div.city-div {
  position: absolute;
  left: 140px;
}

div.phone-div {
  position: absolute;
  right: 140px;
}

div.delivery-footer-div {
  position: absolute;
  left: 507px;
}

div.warranty-footer-div {
  position: absolute;
  left: 666px;
}

div.contact-footer-div {
  position: absolute;
  right: 510px;
}

div.htmlacademy-div {
  position: absolute;
  right: 140px;
}

div.tviter-div {
  position: absolute;
  right: 650px;
}

div.instagram-div {
  position: absolute;
  right: 704px;
}

div.facebook-div {
  position: absolute;
  left: 649px;
}


/*конец разметка подвала*/
/*разметка слайдера*/
div.slaider {
  display: flex;
  flex-direction: row;
  min-height: 481px;
  margin-left: 140px;
  margin-right: 140px;
  width: 1160px;
  align-items: flex-start;
}

div.slaider-wrap {
  position: relative;
}

div.slaider-img-div {
  position: relative;
  margin-left: 90px;
  top: -110px;
  margin-right: 125px;
}

.slaider-h3-div h3 {
  color: #ffffff;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 179px;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  margin: 0;
}

div.slaider-h3-div {
  position: relative;
  display: inline-block;
  min-height: 131px;
  left: 325px;
  top: -122px;
}

.slaider-h4-div h4 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
}

div.slaider-h4-div h4 {
  display: inline-block;
  position: absolute;
  margin: 0;
  top: -33px;
}

.slaider-p-div p {
  color: #464646;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin: 0;
}

div.slaider-p-div {
  position: relative;
  margin-top: -107px;
}

/*конец разметки слайдера*/
/*конец разметки index*/
/*index.html*/
/*Шапка*/


img.logo-header:hover,
img.logo-header:focus {
  opacity: 0.6;
}

img.logo-header:active {
  opacity: 0.3;
}

input.search {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  background-color: transparent;
}

input.search:hover {
  opacity: 0.6;
}

input.search:focus {
  opacity: 1;
}

ul.act {
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.act button {
  border: none;
  background-color: transparent;
}

.catalog,
button.catalog {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 60px;
  padding: 0px;
}

ul.catalog-item {
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}


.act button:hover,
.act button:focus,
.catalog :hover,
.catalog :focus,
.catalog-item li:hover,
.catalog-item li:focus,
button.catalog:hover,
button.catalog:focus {
  opacity: 0.6;
  border: none;
  outline: none;
  background-color: transparent;
}


.act button:active,
.catalog :active,
.catalog-item li:active,
button.catalog:active {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

/*main сейчас пропускаю часть блоков*/
/*section о Нас + Контакты*/
.about h2 {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 0px;
  margin-top: 51px;
  margin-bottom: 59px;
}

.about p {
  color: #464646;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  margin-bottom: 44px;
}

.about li {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 16px;
  line-height: 40px;
  list-style-type: circle;
}

.about ul {
  margin: 0px;
  margin-top: 39px;
}

.about img {
  margin-top: 10px;
}

/*.about li::before { //Тут пытался сделать серый circle особо не получилось 
  /*background-color: #e5e5e5;
  content: url(/img/slider-button1.svg);
  padding-right: 30px;
}*/

.about button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  /* width: 220px;
  height: 8px; //Как сделать желтую полосу не знаю
  background-color: #f0c52e;*/
}

.about1-div button {
  margin-top: 68px;
}

.about2-div button {
  margin-top: 83px;
}

/*подвал footer*/

.footer {
  background-color: #464646;
  display: flex;
  min-height: 323px;
  position: relative;
  flex-direction: row;
  width: 1440px;
}

img.logo:hover,
img.logo:focus {
  opacity: 0.6;
}

img.logo:active {
  opacity: 0.3;
}

div.adress,
.adress a {
  color: #ffffff;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.adress p {
  margin: 0;
}

.act-footer button {
  opacity: 0.7;
  color: #ffffff;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  border: none;
  background-color: transparent;
}

.features-footer a {
  color: #ffffff;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.act-footer button:hover,
.act-footer button:focus {
  border: none;
  outline: none;
  opacity: 1;
  background-color: transparent;
}

.act-footer button:active {
  opacity: 0.3;
  border: none;
  outline: none;
  background-color: transparent;
}

.features-footer a:hover,
.features-footer a:focus,
img.html-logo:hover,
img.html-logo:focus {
  opacity: 0.6;
}

.features-footer a:active,
img.html-logo:active {
  opacity: 0.3;
}

.socialnetwork img {
  opacity: 0.7;
}

.socialnetwork img:hover,
.socialnetwork img:focus {
  opacity: 1;
}

.socialnetwork img:active {
  opacity: 0.1;
}

/*
/*catalog.html*/
/*button.exit {
  opacity: 0.3;
}

/*main catalog.html тут тоже не все*/
/*h1.monopod {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
}

div.adress-catalog {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.adress-catalog span {
  margin: 18px;
  color: black;
  /*тут не получилось сделать черным >, не знаю почему*/
/*}

. .filter p {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter label {
  color: #000000;
  font-family: "Open Sans", Georgia, Serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  border: none;
  outline: none;
}

.about h2 {
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.about p {
  color: #464646;
  font-family: "Open Sans", Georgia, Serif;
  ;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.about ul {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 16px;
  line-height: 40px;
  margin-top: 38px;
}

.about button {
  color: #000000;
  font-family: "Gilroy - Extra Bold", Georgia, Serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  margin-top: 76px;
}*/
